@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #effdf5;
  --color-green-100: #d9fbe8;
  --color-green-200: #b3f5d1;
  --color-green-300: #75edae;
  --color-green-400: #00dc82;
  --color-green-500: #00c16a;
  --color-green-600: #00a155;
  --color-green-700: #007f45;
  --color-green-800: #016538;
  --color-green-900: #0a5331;
  --color-green-950: #052e16;
}

.table {
  width: 100%;
  background-color: #1e293b;
  border: 1px solid #334155;
  border-radius: 8px;
  overflow: hidden;
  table-layout: auto;
}

.table thead {
  background-color: #334155;
}

.table th {
  color: #ffffff;
  font-weight: 600;
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #475569;
}

.table tbody tr {
  border-bottom: 1px solid #475569;
}

.table tbody td {
  padding: 12px;
  color: #ffffff;
}

.table tbody tr:hover {
  background-color: #334155;
}


